.add-category-nev {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  width: 85vw;
  height: 50px;
  background-color: rgb(92, 91, 91);
}
.table-category-container {
  border: 1px solid black;
  margin-top: 50px;
  margin-left: 450px;
}
td {
  border: 1px solid black;
}
th {
  border: 1px solid black;
}
