.product-form-main-container {
  background-color: rgba(0, 0, 0, 0.415);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-modal-container {
  height: 200px;
  width: 400px;
  background-color: white;
  padding: 50px;
  border-radius: 15px;
  text-align: center;
  overflow: auto;
}
